
@import '../components/buttons';

.contact{
    height: auto;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    article{
        width: 50%;
    }
    .row{
        margin: 0;
    }
    .social-medias{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        p{
        width: 70%;
        }
        i{
            font-size: 2rem;
            margin: 1rem .3rem;
        }
    }   
}

form{
    .input-field {
        input, textarea{
            color: white;
        }
        i.active, label.active{
            color: var(--color-primary) !important;
        }
        input, textarea{
            &:focus{
                border-bottom: 1px solid var(--color-primary) !important;
                box-shadow: 0 1px 0 0 var(--color-primary) !important;
            }
        }
    }
    button{
        @include button-primary();
        margin-top: 2rem;
        border-radius: .5rem;
        span{
            display: flex;
            align-items: center;
        }
    }
}


@media (max-width:630px){
    .contact{
        flex-direction: column-reverse;
        gap: 3rem;
        margin-bottom: 3rem;
        article{
            width: 100%;
        }
        .contact-form{
            margin-top: 2rem;
        }
        button{
            width: 100%;
            span{
                justify-content: center;
            }
        }
        .social-medias{
            a{
                i{
                    font-size: 3rem;
                }
            }
        }
    }
}