@import '../components/variables';


    .home{
        background-image: linear-gradient(to right bottom, #040d1b, #061229, #0b173e, #35205b, #251154);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 4rem;
        padding-top: 2rem;
        .home-content{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 60%;
            text-align: left;
            color: white;
            h1,h5{
                margin: 0;
            }
            h1{
                font-weight: bolder;
                font-size: 5rem;
            }
            .social-medias{
                a{
                    i{
                        font-size: 2.5rem;
                        background-image: var(--gradient-primary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin: 1rem .4rem;
                        cursor: pointer;
                        &:hover{
                            filter: drop-shadow(3px 3px 6px rgba(136, 0, 255, 0.512));
                            transition: .2s;
                        }
                    }
                }
            }
        }
        .home-image{
            img{
                width: 90%;
            }
        }
    }



// responsividade

@media (max-width:786px){
    .home{
        padding: 0;
        .home-content{
            width: 100%;
            justify-content: center;
            text-align: center;   
        }
        .home-image{
            img{
                display: none;
            }
        }
    }
}

@media (max-width:430px){
    .home{
        .home-content{
            h1{
                font-size: 3.5rem;
            }
            h5{
                font-size: 1.6rem;
            }
        }
    }
}    


@media (max-width:380px){
    .home{
        .home-content{
            h1{
                font-size: 3.2rem;
            }
            h5{
                font-size: 1.4rem;
            }
        }
    }
}
@media (max-width:325px){
    .home{
        .home-content{
            h1{
                font-size: 2.8rem;
            }
            h5{
                font-size: 1.2rem;
            }
        }
    }
}