header {
  position: fixed;
  width: 100%;
  background: linear-gradient(rgba(4, 4, 119, 0.638), rgba(73, 14, 118, 0.362));
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 999;
}
header nav {
  padding: 1rem 4rem;
  background-color: transparent;
  box-shadow: none;
}
header nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-wrapper a {
  display: flex;
}
header nav ul a {
  border: 2px solid transparent;
  font-size: 1.2rem;
}
header nav ul a:hover {
  color: #376DF6;
  background-color: transparent;
  border-bottom: #376DF6 2px solid;
}
header nav ul a.active {
  color: #376DF6;
  border-bottom: #376DF6 2px solid;
  transition: 0.4s ease-out;
}

.sidenav {
  background: linear-gradient(rgb(3, 3, 30), rgb(46, 6, 103));
  width: 50%;
}
.sidenav li a {
  color: white;
}

@media (max-width: 375px) {
  header nav {
    padding: 1rem 2rem;
  }
  header nav .nav-wrapper img {
    width: 4rem;
  }
}
:root {
  --bg-color:rgba(6, 20, 41, 1);
  --color-primary:#376DF6;
  --color-secundary:#35205b;
  --gradient-primary:linear-gradient(97.15deg, #2AC1F7 8.35%, #376DF6 98.84%);
  --gradient-secundary:linear-gradient(143.15deg, #1572B6 0.25%, rgba(80, 5, 175, 0.59) 99.64%);
  --title-section_bold: 600;
}

.title-section {
  font-weight: var(--title-section_bold);
}

.home {
  background-image: linear-gradient(to right bottom, #040d1b, #061229, #0b173e, #35205b, #251154);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 4rem;
  padding-top: 2rem;
}
.home .home-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  text-align: left;
  color: white;
}
.home .home-content h1, .home .home-content h5 {
  margin: 0;
}
.home .home-content h1 {
  font-weight: bolder;
  font-size: 5rem;
}
.home .home-content .social-medias a i {
  font-size: 3rem;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0.4rem;
  cursor: pointer;
}
.home .home-content .social-medias a i:hover {
  filter: drop-shadow(3px 3px 6px rgba(136, 0, 255, 0.512));
  transition: 0.2s;
}
.home .home-image img {
  width: 90%;
}

@media (max-width: 786px) {
  .home {
    padding: 0;
  }
  .home .home-content {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .home .home-image img {
    display: none;
  }
}
@media (max-width: 430px) {
  .home .home-content h1 {
    font-size: 3.5rem;
  }
  .home .home-content h5 {
    font-size: 1.6rem;
  }
}
@media (max-width: 380px) {
  .home .home-content h1 {
    font-size: 3.2rem;
  }
  .home .home-content h5 {
    font-size: 1.4rem;
  }
}
@media (max-width: 325px) {
  .home .home-content h1 {
    font-size: 2.8rem;
  }
  .home .home-content h5 {
    font-size: 1.2rem;
  }
}
:root {
  --bg-color:rgba(6, 20, 41, 1);
  --color-primary:#376DF6;
  --color-secundary:#35205b;
  --gradient-primary:linear-gradient(97.15deg, #2AC1F7 8.35%, #376DF6 98.84%);
  --gradient-secundary:linear-gradient(143.15deg, #1572B6 0.25%, rgba(80, 5, 175, 0.59) 99.64%);
  --title-section_bold: 600;
}

.title-section {
  font-weight: var(--title-section_bold);
}

.features {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: auto;
  gap: 2rem;
}
.features .features-tools {
  justify-content: center;
  margin-top: 2.5rem;
  padding: 0 1rem;
}
.features .features-tools ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  flex-wrap: wrap;
}
.features .features-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem 0;
  margin-top: 6rem;
}
.features .features-skills .box-skills {
  display: flex;
  gap: 1rem;
}
.features .features-skills .box-skills .box-skill {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  margin: 1rem;
  max-width: 320px;
  padding: 4rem 1rem;
  border-radius: 4px;
}
.features .features-skills .box-skills .box-skill h5 {
  font-weight: 600;
}
.features .btn-feature {
  margin-top: 2rem;
}

@media (max-width: 731px) {
  .box-skills {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .features h3 {
    font-size: 2rem;
  }
}
:root {
  --bg-color:rgba(6, 20, 41, 1);
  --color-primary:#376DF6;
  --color-secundary:#35205b;
  --gradient-primary:linear-gradient(97.15deg, #2AC1F7 8.35%, #376DF6 98.84%);
  --gradient-secundary:linear-gradient(143.15deg, #1572B6 0.25%, rgba(80, 5, 175, 0.59) 99.64%);
  --title-section_bold: 600;
}

.title-section {
  font-weight: var(--title-section_bold);
}

.projects {
  height: auto;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  margin: 4rem 0;
}
.projects .row {
  max-width: 70rem;
  margin-top: 4rem;
}
.projects .tabs {
  background: rgb(63, 47, 182);
  border-radius: 6px 6px 0 0;
}
.projects .tabs .tab a {
  color: white;
}
.projects .tabs .indicator {
  background-color: rgb(54, 155, 244);
}
.projects .tabs a.active {
  color: rgba(252, 252, 252, 0.455);
}
.projects .tabs a.active:focus {
  background-color: transparent;
}
.projects .topic {
  width: 100%;
}
.projects .topic .box-projects {
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  gap: 2rem;
}
.projects .topic .box-project {
  background: var(--gradient-secundary);
  width: 100%;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
}
.projects .topic .box-project img {
  width: 97%;
  margin-top: 0.5rem;
  border-radius: 6px;
}
.projects .topic .box-project .box-content h5 {
  font-weight: 600;
}
.projects .topic .box-project .box-buttons {
  margin-top: 2rem;
}
.projects .topic .box-project .box-buttons a button {
  background: rgba(14, 33, 63, 0.611);
  color: white;
  border: none;
  box-shadow: none;
  border-radius: 0.3rem;
  padding: 0 1.5rem;
  font-weight: 600;
  height: 2.5rem;
  cursor: pointer;
}
.projects .topic .box-project .box-buttons a button:hover {
  filter: brightness(80%);
}

@media (max-width: 430px) {
  .projects .topic .box-projects {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects .tabs .tab a {
    font-size: 8px;
  }
}
:root {
  --bg-color:rgba(6, 20, 41, 1);
  --color-primary:#376DF6;
  --color-secundary:#35205b;
  --gradient-primary:linear-gradient(97.15deg, #2AC1F7 8.35%, #376DF6 98.84%);
  --gradient-secundary:linear-gradient(143.15deg, #1572B6 0.25%, rgba(80, 5, 175, 0.59) 99.64%);
  --title-section_bold: 600;
}

.title-section {
  font-weight: var(--title-section_bold);
}

.about {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 3rem;
  background-image: linear-gradient(to left bottom, #040d1b, #061229, #0b173e, #35205b, #251154);
}
.about .about-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about-content .content-text {
  width: 50%;
  text-align: left;
}
.about .about-content .content-text p {
  width: 70%;
  margin-top: 0.5rem;
}
.about .about-content img {
  width: 18rem;
}
.about .about-buttons {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.about .about-buttons a button {
  width: 100%;
  background: rgba(14, 33, 63, 0.611);
  color: white;
  border: none;
  box-shadow: none;
  border-radius: 0.3rem;
  padding: 0 1.5rem;
  font-weight: 600;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 2rem;
  padding: 0 3rem;
  text-transform: uppercase;
}
.about .about-buttons a button:hover {
  filter: brightness(80%);
}
.about .about-buttons .about-btn_1 {
  background-color: transparent;
  border: 2px solid var(--color-primary);
}
.about .about-buttons .about-btn_2 {
  background-color: var(--color-primary);
}

@media (max-width: 630px) {
  .about .about-content {
    flex-direction: column-reverse;
  }
  .about .about-content .content-text {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .about .about-content .content-text p {
    width: 100%;
  }
  .about .about-content img {
    width: 10rem;
    margin-bottom: 2rem;
  }
  .about .about-buttons {
    flex-direction: column;
  }
  .about .about-buttons a {
    width: 90%;
  }
}
.contact {
  height: auto;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}
.contact article {
  width: 50%;
}
.contact .row {
  margin: 0;
}
.contact .social-medias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact .social-medias p {
  width: 70%;
}
.contact .social-medias i {
  font-size: 2rem;
  margin: 1rem 0.3rem;
}

form .input-field input, form .input-field textarea {
  color: white;
}
form .input-field i.active, form .input-field label.active {
  color: var(--color-primary) !important;
}
form .input-field input:focus, form .input-field textarea:focus {
  border-bottom: 1px solid var(--color-primary) !important;
  box-shadow: 0 1px 0 0 var(--color-primary) !important;
}
form button {
  background: var(--gradient-primary);
  border-radius: 2rem;
  padding: 0 2.5rem;
  font-weight: 600;
  height: 3rem;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
form button:hover {
  filter: brightness(80%);
}
form button span {
  display: flex;
  align-items: center;
}

@media (max-width: 630px) {
  .contact {
    flex-direction: column-reverse;
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .contact article {
    width: 100%;
  }
  .contact .contact-form {
    margin-top: 2rem;
  }
  .contact button {
    width: 100%;
  }
  .contact button span {
    justify-content: center;
  }
  .contact .social-medias a i {
    font-size: 3rem;
  }
}
.page-footer {
  background-color: transparent;
  border-top: 1px solid rgba(17, 17, 174, 0.647);
  padding-top: 2rem;
  min-height: 50vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-footer .container {
  width: 90%;
}
.page-footer .container .row {
  display: flex;
  align-items: center;
}
.page-footer img {
  margin: 1rem 0;
}
.page-footer .footer-copyright {
  background-color: transparent;
}

@media (max-width: 630px) {
  .page-footer .container .row {
    flex-direction: column;
    gap: 2rem;
  }
}
:root {
  --bg-color:rgba(6, 20, 41, 1);
  --color-primary:#376DF6;
  --color-secundary:#35205b;
  --gradient-primary:linear-gradient(97.15deg, #2AC1F7 8.35%, #376DF6 98.84%);
  --gradient-secundary:linear-gradient(143.15deg, #1572B6 0.25%, rgba(80, 5, 175, 0.59) 99.64%);
  --title-section_bold: 600;
}

.title-section {
  font-weight: var(--title-section_bold);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(6, 20, 41);
  font-family: "Inter", sans-serif;
  color: white;
}

main {
  height: auto;
  overflow: hidden;
}

html.sr .load-hidden {
  visibility: hidden;
}

.material-tooltip {
  background: var(--gradient-secundary);
}

.btn {
  background: var(--gradient-primary);
  border-radius: 2rem;
  padding: 0 2.5rem;
  font-weight: 600;
  height: 3rem;
  color: white;
  text-transform: uppercase;
  border: none;
}
.btn:hover {
  filter: brightness(80%);
}

.carousel-slide {
  min-height: 800px;
}

.carousel {
  min-height: 900px;
  height: auto;
  padding-bottom: 1rem;
}/*# sourceMappingURL=main.css.map */